@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.2ch;
}

i,
svg {
    pointer-events: none;
}

.kick-pad,
.clap-pad,
.hihat-pad {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.kick-pad {
    background-color: rgb(147, 204, 204);
}

.clap-pad {
    background-color: rgb(209, 129, 205);
}

.hihat-pad {
    background-color: rgb(168, 204, 147);
}

.sequencer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kick,
.clap,
.hihat {
    display: flex;
}

.hihat-track,
.clap-track,
.kick-track {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}

.controls button {
    padding: 1rem;
    border: none;
    background: rgb(97, 97, 97);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}