@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.2ch;
}

i,
svg {
    pointer-events: none;
}

.kick-pad,
.clap-pad,
.hihat-pad {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.kick-pad {
    background-color: rgb(147, 204, 204);
}

.clap-pad {
    background-color: rgb(209, 129, 205);
}

.hihat-pad {
    background-color: rgb(168, 204, 147);
}

.kick,
.clap,
.hihat {
    display: flex;
}

.hihat-track,
.clap-track,
.kick-track {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin-top: 5rem;
}